/*taust*/
body {
  background-color: #faf8f4;
  font-family: Arial, sans-serif;
}

/* 2 veergu */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px;
}

/* vasak & parem eraldi kastid */
.vasak, .parem {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* logo */
.logo {
  font-family: "Georgia", serif;
  font-size: 48px;
  margin: 0;
}

/* menüü */
.menu {
  display: flex;
  gap: 24px;
  font-size: 18px;
}

.menu a {
  text-decoration: none;
  color: black;
}

/* galerii kast */
.galerii {
  border: 2px solid #ccc;
}

/* Sotsmeedia ikoonide ringid */
.social {
  display: flex;
  gap: 16px;
}

 /*üksiku ikooni ring*/
.icon {
  width: 48px;
  height: 48px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

/* kaart */
.kaart {
  border: 2px solid #ccc;
  padding: 40px;
  text-align: center;
  font-size: 24px;
  font-family: "Georgia", serif;
}

/* aadress */
.info {
  text-align: center;
  font-style: italic;
  font-size: 16px;
}
