/*taustapilt*/
body {
  background: url("pildid/tapeet.jpg") center/cover no-repeat fixed;
  font-family: Arial, sans-serif;
}

/* 2 veergu */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px;
}

/* vasak & parem eraldi kastid */
.vasak, .parem {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* logo */
.logo {
  font-family: "Georgia", serif;
  font-size: 48px;
  margin: 0;
  font-style: italic;
}

/* menüü */
.menu {
  display: flex;
  gap: 24px;
  font-size: 18px;
}

.menu a {
  text-decoration: none;
  color: black;
}

/*tekst muudab värvi, kui peale minna*/
.menu a:hover {
  color: #b76e79;
}

/* galerii kast */
.galerii {
  border: 2px solid #ccc;
}
.galerii img {
  width: 100%;
  height: auto;
  display: block;
}

/* Sotsmeedia ikoonide ringid */
.social {
  display: flex;
  gap: 16px;
}

 /*üksiku ikooni ring*/
.icon {
  width: 48px;
  height: 48px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

/* kaart */
.kaart {
  border: 2px solid #ccc;
  overflow: hidden;
}
.kaart iframe {
  width: 100%;
  display: block;
  border: 0;
}

/* aadress */
.info {
  text-align: center;
  font-style: italic;
  font-size: 16px;
}
